#devloping{
    color: gray;
}#nomuchtime{
    color:red;
}#willcontinue{
    color:gold;
}#makeGIFwell{
    color:skyblue;
}#noregister{
    color:#0f0;
}#useLikeLocalApp{
    color:darkorchid;
}#releasePCApp{
    color:darkorange;
}